/*universal*/

body {
    padding-top: 90px;
    font-family: "Arial", Helvetica, sans-serif;
}

/*header*/

.navbar-brand{
    float: left;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 1.7em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

.navbar-form
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 15px;
    text-align: center;
    margin: auto;
}

.row {
    font-size: 1.1em;
}

.caption {
    height: 80px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.caption a:link, a:visited {
    text-decoration: none;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.col-md-3 {
    height: 100%
}

/*navbar*/

.nav-elemets li{
    float: left;

}

/*login*/

.grid12-6 {
    position:relative;
    display:inline;
    float:left;
    margin-left:1%;
    margin-right:1%;
    width: 48%;
    margin-bottom:30px;
}

.new-users .registered-users {
    display: inline;
}
